<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles/product.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partial/navbar') %>
    <img src="/images/earth.jpg" alt="hinhanh" height="100px" width="100%" />
    <div class="container">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">
                <a href="category.html">Category</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Sub-category
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-3">
          <div class="card bg-light mb-3">
            <div class="card-header bg-primary text-white text-uppercase">
              <i class="fa fa-list"></i> Categories
            </div>
            <ul class="list-group category_block">
              <li class="list-group-item">
                <a href="category.html">Cras justo odio</a>
              </li>
              <li class="list-group-item">
                <a href="category.html">Dapibus ac facilisis in</a>
              </li>
              <li class="list-group-item">
                <a href="category.html">Morbi leo risus</a>
              </li>
              <li class="list-group-item">
                <a href="category.html">Porta ac consectetur ac</a>
              </li>
              <li class="list-group-item">
                <a href="category.html">Vestibulum at eros</a>
              </li>
            </ul>
          </div>
          <div class="card bg-light mb-3">
            <div class="card-header bg-success text-white text-uppercase">
              Last product
            </div>
            <div class="card-body">
              <img
                class="img-fluid"
                src="https://dummyimage.com/600x400/55595c/fff"
              />
              <h5 class="card-title">Product title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <p class="bloc_left_price">99.00 $</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <% for(var i=0; i < products.length; i++) { %>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="<%=products[i].image%>"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="product.html" title="View Product"
                      ><%=products[i].name%>
                    </a>
                  </h4>
                  <p class="card-text"><%=products[i].description%></p>
                  <div class="row">
                    <div class="col">
                      <p class="btn btn-danger btn-block">
                        <%=products[i].price%>
                      </p>
                    </div>
                    <div class="col">
                      <a
                        href="cart/addToCart/<%=products[i].id%>"
                        class="btn btn-success btn-block"
                        >Add to cart</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <div class="col-12">
              <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <% for(var i=1; i <= page; i++) { %>
                  <li class="page-item">
                    <a class="page-link" href="#"><%= i %> </a>
                  </li>
                  <% } %>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-lg-4 col-xl-3">
            <h5>About</h5>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25" />
            <p class="mb-0">
              Le Lorem Ipsum est simplement du faux texte employé dans la
              composition et la mise en page avant impression.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <h5>Informations</h5>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25" />
            <ul class="list-unstyled">
              <li><a href="">Link 1</a></li>
              <li><a href="">Link 2</a></li>
              <li><a href="">Link 3</a></li>
              <li><a href="">Link 4</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
            <h5>Others links</h5>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25" />
            <ul class="list-unstyled">
              <li><a href="">Link 1</a></li>
              <li><a href="">Link 2</a></li>
              <li><a href="">Link 3</a></li>
              <li><a href="">Link 4</a></li>
            </ul>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3">
            <h5>Contact</h5>
            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25" />
            <ul class="list-unstyled">
              <li><i class="fa fa-home mr-2"></i> My company</li>
              <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
              <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
              <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
            </ul>
          </div>
          <div class="col-12 copyright mt-3">
            <p class="float-left">
              <a href="#">Back to top</a>
            </p>
            <p class="text-right text-muted">
              created with <i class="fa fa-heart"></i> by
              <a href="https://t-php.fr/43-theme-ecommerce-bootstrap-4.html"
                ><i>t-php</i></a
              >
              | <span>v. 1.0</span>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
